<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lemon</title>
    <meta name="description" content=" ">

    
    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href="resources/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/font-awesome.min.css">



    

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 


  </head>
  <body>


     <!-- NAV -->
  <div class="navegacion" id="mob">
      <div class="logo-nav">
        <img src="resources/img/logo-nav.png" alt="Lemon Apartments in San Telmo">
      </div>
      <nav>
      <ul>
        <li><a href="#" >Lemon <span>un lugar para vivir</span></a></li>
        <li><a href="#" >apartamentos <span>una experiencia unica</span></a></li>
        <li><a href="#">Servicios <span>Espacio verde, piscina, tarraza y mas...</span></a></li>
        <li><a href="#">Galeria <span>Fotos &amp; video</span></a></li>
        <li><a href="#">Contacto <span>lemon apartments</span></a></li>
        <li><a href="#">Reservas <span>Ver disponibilidad</span></a></li>
      </ul>
      <hr>
      <div class="dire">
        Chacabuco 1080, San Telmo, Buenos aires, Argentina<br>
        t +5411 1784 4584 e info@lemonapartments.com
      </div>
      <div class="social">
        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> 
        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
      </nav>

  </div>
    <!-- /NAV -->



<!-- 
la clase rooms está solo por el clonado
después se puede volar para usar solo gallery 
-->

  <div class="rooms gallery"> 
   
   <header>
    <div class="inner-header">
      <div class="small-logo">
        <a href="#"><img src="resources/img/logo-small.png" alt="Lemon Apartments in San Telmo"></a>
      </div>
       <div class="burger">
        <a href="#" class="lang">ENG</a>
            <div id="nav-icon3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
        </div>
      </div>  

      <div class="logo-tipo">
        <h2>Gallery</h2>
        <h3>Lemon Apartments</h3>
      </div>

      <div class="look-inside">
        <a href="#"></a>
      </div>
   </header>

  <div class="container">
    <div class="intro-text">
      <img src="resources/img/logo.png" alt="Lemon Apartments">
      <h1>Gallery</h1>
      <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,  sed do eiusmod tempor incididunt <br>
     
      </p>
    </div>
  </div>
  

</div> <!-- / gallery Section Style -->









<!-- gallery (gallery.js) -->
<link rel="stylesheet" href="resources/gallery/gallery.css">

<div class="imgcontainer" >
      <div class="am-container" id="am-container">
 
 <!--
 <img title="{{ i['title'] }}" src="{{ i['image'] }}" {% if i['video'] %}data-video="{{ i['video'] }}"{% endif %} ></img>
  -->

<img title="img" src="resources/gallery/imgs/img.jpg"/>
<img title="img" src="resources/gallery/imgs/img1.jpg"/>
<img title="img" src="resources/gallery/imgs/img2.jpg"/>
<img title="img" src="resources/gallery/imgs/img3.jpg"/>

    <img title= "img" src="resources/gallery/imgs/img.jpg"/>
<img title= "img" src="resources/gallery/imgs/img1.jpg"/>
<img title= "img" src="resources/gallery/imgs/img2.jpg"/>
<img title= "img" src="resources/gallery/imgs/img3.jpg"/>

<img title= "img" src="resources/gallery/imgs/img.jpg"/>
<img title= "img" src="resources/gallery/imgs/img1.jpg"/>
<img title= "img" src="resources/gallery/imgs/img2.jpg"/>
<img title= "img" src="resources/gallery/imgs/img3.jpg"/>

<img title= "img" src="resources/gallery/imgs/img.jpg"/>
<img title= "img" src="resources/gallery/imgs/img1.jpg"/>
<img title= "img" src="resources/gallery/imgs/img2.jpg"/>
<img title= "img" src="resources/gallery/imgs/img3.jpg"/>

<img title= "img" src="resources/gallery/imgs/img.jpg"/>
<img title= "img" src="resources/gallery/imgs/img1.jpg"/>
<img title= "img" src="resources/gallery/imgs/img2.jpg"/>
<img title= "img" src="resources/gallery/imgs/img3.jpg"/>  

      </div>
    </div>


<hr class="clear">
<br>
<br>

<div class="container">
  <center>
      <a href="#" class="whitebtn">Load More</a>
  </center>
</div>
<br>
<br>

<!-- /   end gallery -->














  <footer>
    <div class="container">
      <a href="@" class="reservations">
        <h3>Reservations</h3>
        book now!
      </a>

      <hr>

      <div class="social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>

      <div class="address">CHACABUCO 1080, SAN TELMO, BUENOS AIRES, ARGENTINA   /   +5411 1784 4584   /   info@LEMONAPARTMENTS.COM</div>
      <div class="copyright">
         © LEMON APARTMENTS 2015 . DESIGN BY <a href="http://www.dna-designstudio.com/" target="_blank" title="Website Design for hotels">DNA STUDIO</a>
      </div>
    </div>
  </footer>



<!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/nav.js"></script>

 <script type="text/javascript" src="resources/gallery/gallery.js"></script>
 

  </body>
</html>