/* GALERIA*/
.imgcontainer{position:relative;width:100%;}
/*full screen arrows*/

.larrow,.rarrow{
top:48%; 
position:absolute;display: inline-block;  
width: 51px;  height: 51px;  

}

.larrow{ 
left:10px;
background: url( larrow.png) no-repeat 0 0; 
margin-right: 10px;
}

.rarrow{ 
	right:10px; 
	background: url( rarrow.png) no-repeat 0 0; 
	margin-left: 10px;
}


.larrow:hover,.rarrow:hover  {   background-position: -51px 0px;}

.rarrow:hover  {   background-position: -51px 0px;}

#am-container img{display:none;margin: 0px 0px 1px 1px;}
#FULLIMAGE{background-color:rgba(0,0,0,0.9);
	z-index:2000;width:100%;height:100%;
	text-align:center;position:fixed;
	top:0px;left:0px;
	overflow:hidden;
	text-align:center;
}

#FULLIMAGE #FullBg{width:100%;height:100%;position:absolute;}
