@font-face {
  font-family: 'ugocolor';
  src: url('../fonts/ugo-color-webfont.eot');
  src: url('../fonts/ugo-color-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ugo-color-webfont.woff2') format('woff2'), url('../fonts/ugo-color-webfont.woff') format('woff'), url('../fonts/ugo-color-webfont.ttf') format('truetype'), url('../fonts/ugo-color-webfont.svg#ugocolor') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 36px;
  color: #000;
  margin: 25px 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 30px;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
h3 {
  font-size: 24px;
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
p.lead {
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.8em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
p.small {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.8em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
@media (max-width: 767px) {
  p br {
    display: none;
  }
}
.black-font {
  color: #000!important;
}
.black-font p {
  color: #969797;
}
.white-font {
  color: #FFF!important;
}
.mix-vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
}
.font-normal {
  font-family: 'Quicksand', sans-serif;
}
.font-special {
  font-family: 'ugocolor';
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a,
a:hover {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
body {
  font-family: 'ugocolor';
}
hr.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 0;
  padding-left: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.line-btn {
  border: 1px solid #b9baba;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-align: center;
  padding: 15px 32px;
}
.line-btn:hover {
  border-color: rgba(185, 186, 186, 0.5);
  color: #b1b1b1;
}
.white-btn {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #FFF;
}
.white-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
}
.intro-text {
  text-align: center;
  margin: 80px 0;
}
.intro-text p {
  margin-bottom: 40px;
}
.text-spot {
  text-align: center;
  padding: 80px 100px;
}
.text-spot p {
  margin-bottom: 40px;
}
.text-spot-price {
  text-align: center;
  padding: 80px 100px;
  background: #171918;
}
.patio {
  width: 100%;
  background: url(../img/patio.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.living {
  width: 100%;
  background: url(../img/living.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.interior-sillon {
  width: 100%;
  background: url(../img/sillon.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.cama {
  width: 100%;
  background: url(../img/cama.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.resto {
  width: 100%;
  background: url(../img/resto.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.pool {
  width: 100%;
  background: url(../img/pool.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.atmosfera {
  width: 100%;
  background: url(../img/atmosfera.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.lobby {
  width: 100%;
  background: url(../img/lobby.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.jardin {
  width: 100%;
  background: url(../img/jardin.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.bar {
  width: 100%;
  background: url(../img/bar.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.mostaza {
  background: #dcc76a;
  height: 405px;
}
.negro {
  background: #171918;
  height: 405px;
}
hr.white {
  border-top: 1px solid #FFF;
  width: 30px;
  margin: 20px auto;
}
.precio {
  text-align: center;
}
.precio .monto {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}
.precio .duracion {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.precio p {
  text-transform: uppercase;
  font-size: 12px;
  margin: 20px 0 35px;
  line-height: 1.9em;
}
footer {
  background: #FFF;
  text-align: center;
  color: #000;
  padding: 70px 0;
}
footer a.reservations {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}
footer a.reservations h3 {
  color: #000;
  font-family: 'ugocolor';
}
footer a.reservations:hover {
  color: #555;
}
footer hr {
  border-top: 1px solid #000;
  width: 24px;
  margin: 20px auto;
}
footer .social {
  padding: 5px 0 20px 0;
}
footer .social a {
  padding: 0 10px;
  color: #000;
  font-size: 22px;
}
footer .social a:hover {
  color: #555;
}
footer .address {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
footer .copyright {
  padding: 15px 0 0 0;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
footer .copyright a {
  color: #000;
}
footer .copyright a:hover {
  color: #555;
}
.bookbar {
  background: #1f2120;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: #aaacab;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 700;
}
.bookbar i {
  font-size: 22px;
  color: #FFF;
  padding: 0 10px;
}
.bookbar span.date {
  color: #FFF;
}
.bookbar .col-sm-3 {
  /*border-right: 1px solid #FFF;*/

}
.bookbar a.book {
  color: #FFF;
}
.bookbar a.book:hover {
  color: #aaacab;
}
.bookbar i.line {
  content: "";
  border-right: 1px solid #FFF;
  width: 1px;
  margin: 0 30px;
  padding: 0;
}
#mob {
  display: none;
}
.burger {
  position: absolute;
  z-index: 1001;
  top: 30px;
  right: 10%;
  display: block;
  width: 230px;
}
.burger .lang {
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  letter-spacing: 0.3em;
  display: inline-block;
  margin: -25px 60px 0 0;
  vertical-align: middle;
}
.small-logo {
  position: absolute;
  top: 30px;
  left: 10%;
  display: block;
  width: 120px;
}
#nav-icon3 {
  display: inline-block;
  width: 40px;
  height: 25px;
  position: relative;
  margin: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon3:hover span:nth-child(1) {
  top: 0;
}
#nav-icon3:hover span:nth-child(2) {
  top: 12px;
}
#nav-icon3:hover span:nth-child(3) {
  top: 12px;
}
#nav-icon3:hover span:nth-child(4) {
  top: 24px;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #FFF;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px;
}
#nav-icon3 span:nth-child(4) {
  top: 20px;
}
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #e5d694;
}
#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #e5d694;
}
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  background: #e5d694;
}
.navegacion {
  display: block;
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background: #171918;
  z-index: 1000;
}
.navegacion .logo-nav {
  position: absolute;
  top: 30px;
  left: 10%;
}
.navegacion nav {
  text-align: center;
  letter-spacing: 0.1em;
  width: 100%;
  padding-top: 200px;
}
.navegacion nav ul {
  margin: 0;
  padding: 0;
}
.navegacion nav li {
  list-style: none;
  padding: 18px 50px;
}
.navegacion nav a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #e5d694;
  font-family: 'ugocolor';
  font-size: 28px;
  position: relative;
  text-transform: uppercase;
  width: 120%;
}
.navegacion nav a:before {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: "";
  border-top: 1px solid #efe7c2;
  position: absolute;
  width: 0%;
  top: 10px;
  margin: 0 0 0 50%;
}
.navegacion nav a span {
  font-family: 'Quicksand', sans-serif;
  display: block;
  font-size: 12px;
}
.navegacion nav a:hover {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #efe7c2;
}
.navegacion nav a:hover:before {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: "";
  border-top: 1px solid #efe7c2;
  position: absolute;
  width: 150%;
  top: 10px;
  margin: 0 0 0 -25%;
}
.navegacion nav hr {
  width: 29px;
  background: #e5d694;
  height: 3px;
  border: none;
  margin: 40px auto;
}
.navegacion nav .dire {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #e5d694;
  text-transform: uppercase;
  line-height: 2em;
}
.navegacion nav .social {
  margin-top: 20px;
}
.navegacion nav .social a {
  padding: 30px 10px;
  color: #e5d694;
  font-size: 20px;
}
.navegacion nav .social a:before {
  content: none;
}
.navegacion nav .social a:hover {
  color: #efe7c2;
}
.home header {
  width: 100%;
  height: 850px;
  background: url(../img/header-home.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home header .logo-tipo {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  width: 443px;
  margin: 0 auto;
}
.home header .look-inside {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.home header .look-inside a {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.home header .look-inside a:after {
  content: url(../img/flecha.png);
  display: block;
  padding-top: 15px;
}
.home header .look-inside a:hover {
  color: #CCC;
}
.home .wide-img {
  width: 100%;
  background: url(../img/chupete.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.apartments header {
  width: 100%;
  height: 732px;
  background: url(../img/header-apartments.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.apartments header .logo-tipo {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.apartments header .logo-tipo h2 {
  font-size: 64px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #FFF;
}
.apartments header .logo-tipo h3 {
  font-size: 17px;
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #FFF;
}
.apartments header .look-inside {
  position: absolute;
  bottom: 70px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.apartments header .look-inside a {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.apartments header .look-inside a:after {
  content: url(../img/flecha.png);
  display: block;
  padding-top: 15px;
}
.apartments header .look-inside a:hover {
  color: #CCC;
}
.apartments .wide-img {
  width: 100%;
  background: url(../img/apartments-wide.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.apartments .wide-img-2 {
  width: 100%;
  background: url(../img/terraza-wide.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.apartments .wide-img-3 {
  width: 100%;
  background: url(../img/chupete.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.rooms header {
  width: 100%;
  height: 732px;
  background: url(../img/header-rooms.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.rooms header .logo-tipo {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.rooms header .logo-tipo h2 {
  font-size: 64px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #FFF;
}
.rooms header .logo-tipo h3 {
  font-size: 17px;
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #FFF;
}
.rooms header .look-inside {
  position: absolute;
  bottom: 70px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.rooms header .look-inside a {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.rooms header .look-inside a:after {
  content: url(../img/flecha.png);
  display: block;
  padding-top: 15px;
}
.rooms header .look-inside a:hover {
  color: #CCC;
}
.rooms .wide-img {
  width: 100%;
  background: url(../img/amarrillento.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 405px;
}
.amenities header {
  width: 100%;
  height: 732px;
  background: url(../img/header-amenities.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.amenities header .logo-tipo {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.amenities header .logo-tipo h2 {
  font-size: 64px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #FFF;
}
.amenities header .logo-tipo h3 {
  font-size: 17px;
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #FFF;
}
.amenities header .look-inside {
  position: absolute;
  bottom: 70px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.amenities header .look-inside a {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.amenities header .look-inside a:after {
  content: url(../img/flecha.png);
  display: block;
  padding-top: 15px;
}
.amenities header .look-inside a:hover {
  color: #CCC;
}
.amenities .text-spot {
  text-align: center;
  padding: 15px 100px;
}
.amenities .text-spot h2 {
  font-size: 24px;
  margin: 10px 0;
  letter-spacing: 0.1em;
}
.amenities .duracion {
  font-size: 14px;
  margin: 8px 0;
}
