// rusty
@font-face {
    font-family: 'ugocolor';
    src: url('../fonts/ugo-color-webfont.eot');
    src: url('../fonts/ugo-color-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ugo-color-webfont.woff2') format('woff2'),
         url('../fonts/ugo-color-webfont.woff') format('woff'),
         url('../fonts/ugo-color-webfont.ttf') format('truetype'),
         url('../fonts/ugo-color-webfont.svg#ugocolor') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
	font-size: 36px;
	color: #000;
	margin: 25px 0 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
h2 {
	font-size: 30px;
	margin: 20px 0;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}
h3 {
	font-size: 24px;
	margin: 5px 0;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}
p {
	&.lead {
		color: @gris;
		text-transform: uppercase;
		font-size: @font-m;
		line-height: 1.8em;
		.font-normal;
		font-weight: @font-regular;
	}
	&.small {
		text-transform: uppercase;
		font-size: @font-s;
		line-height: 1.8em;
		.font-normal;
		font-weight: @font-regular;
	}
	@media @xs-view {
		br {
			display: none;
		}
	}
}


.black-font {
	color: #000!important;
	p {
		color: #969797;
	}
}
.white-font {
	color: #FFF!important;
}

