//
// Mixins
// --------------------------------------------------
//.border-radius(5px);
.border-radius(@r) {
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

// Responsive meadia queries (mobile first)
// @media @s-view { }
// @media @m-view { }
// @media @l-view { }
// @media @xs-view { }

@s-view: ~"(min-width: 768px)";
@m-view: ~"(min-width: 992px)";
@l-view: ~"(min-width: 1200px)";
@xs-view: ~"(max-width: 767px)";

//.transition(all 0.4s ease);
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.mix-vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
 
.font-normal {
  font-family: 'Quicksand', sans-serif;
}
.font-special {
  font-family: 'ugocolor';
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}