
// nav mobile 
	#mob {
		display: none;
	}

// hamburger btn
.burger {
    position: absolute;
    z-index: 1001;
    top: 30px;
    right: 10%;
		display: block;
    width: 230px;
    .lang {
      font-size: @font-m;
      color: #FFF;
      text-decoration: none;
      letter-spacing: 0.3em;
      display: inline-block;
      margin: -25px 60px 0 0; 
      vertical-align: middle;
    }
	} 
.small-logo {
  position: absolute;
  top: 30px;
  left: 10%;
  display: block;
  width: 120px;
}  


#nav-icon3 {
  display: inline-block;
  width: 40px;
  height: 25px;
  position: relative;
  margin: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  &:hover {
    span {
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 12px;
      }
      &:nth-child(3) {
        top: 12px;
      }
       &:nth-child(4) {
        top: 24px;
      }
    }
  }
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #FFF;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #e5d694;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #e5d694;
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  background: #e5d694;
}

// SUPER NAV
.navegacion {
  display: block;
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background: #171918;
  z-index: 1000;
  .logo-nav {
    position: absolute;
    top: 30px;
    left: 10%;
  }
  nav {
    text-align: center;
    letter-spacing: 0.1em;
    width: 100%;
    padding-top: 200px;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      padding: 18px 50px;
      
    }
    a {
      .transition(all 0.4s ease);
      color: #e5d694;
      .font-special;
      font-size: 28px;
      position: relative;
      text-transform: uppercase;
      width: 120%;
      &:before {
        .transition(all 0.4s ease);
        content: "";
        border-top: 1px solid #efe7c2;
        position: absolute;
        width: 0%;
        top: 10px;
        margin: 0 0 0 50%;
      }
      span {
        .font-normal;
        display: block;
        font-size: 12px;
      } 
      &:hover {
        .transition(all 0.4s ease);
        color: #efe7c2;
        &:before {
          .transition(all 0.4s ease);
          content: "";
          border-top: 1px solid #efe7c2;
          position: absolute;
          width: 150%;
          top: 10px;
          margin: 0 0 0 -25%;
        }
      } 
       
    }
    hr {
      width: 29px;
      background: #e5d694;
      height: 3px;
      border: none;
      margin: 40px auto;
    }
    .dire {
      .font-normal;
      font-size: 12px;
      color: #e5d694;
      text-transform: uppercase;
      line-height: 2em;
    }
    .social {
      margin-top: 20px;
      a {

        padding: 30px 10px;
        color: #e5d694;
        font-size: 20px;
        &:before {
          content: none;
        }
        &:hover {
          color: #efe7c2;
        }

      }
    }
  }
  
}

