.home {
	header {
		width: 100%;
		height: 850px;
		background: url(../img/header-home.jpg) no-repeat center center;
		.cover;
	  	.logo-tipo {
	  		position: absolute;
	  		top: 40%;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		width: 443px;
	  		margin: 0 auto;
	  	}
	  	.look-inside {
	  		position: absolute;
	  		bottom: 50px;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		margin: 0 auto;
	  		a {
	  			color: #FFF;
	  			font-size: @font-m;
	  			text-transform: uppercase;
	  			letter-spacing: 0.3em;
	  			&:after {
					content: url(../img/flecha.png);
					display: block;
					padding-top: 15px;
				}
				&:hover {
					color: #CCC;
				}
	  		}
	  	}
	}
	.wide-img {
		width: 100%;
		background: url(../img/chupete.jpg) no-repeat center center;
		.cover;
		height: 405px;
	}
}
// About us / departamentos en general

.apartments {
	header {
		width: 100%;
		height: 732px;
		background: url(../img/header-apartments.jpg) no-repeat center center;
		.cover;
	  	.logo-tipo {
	  		position: absolute;
	  		top: 40%;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		margin: 0 auto;
		  		h2 {
			  		font-size: 64px;
					margin: 10px 0;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					color: #FFF;
		 	 	}
		 	 	h3 {
		 	 		font-size: 17px;
					margin: 5px 0;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					color: #FFF;
				}
		 	
	  	}
	  	.look-inside {
	  		position: absolute;
	  		bottom: 70px;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		margin: 0 auto;
	  		a {
	  			color: #FFF;
	  			font-size: @font-m;
	  			text-transform: uppercase;
	  			letter-spacing: 0.3em;
	  			&:after {
					content: url(../img/flecha.png);
					display: block;
					padding-top: 15px;
				}
				&:hover {
					color: #CCC;
				}
	  		}
	  	}
	}
	.wide-img {
		width: 100%;
		background: url(../img/apartments-wide.jpg) no-repeat center center;
		.cover;
		height: 405px;
	}
	.wide-img-2 {
		width: 100%;
		background: url(../img/terraza-wide.jpg) no-repeat center center;
		.cover;
		height: 405px;
	}
	.wide-img-3 {
		width: 100%;
		background: url(../img/chupete.jpg) no-repeat center center;
		.cover;
		height: 405px;
	}
}

// Departamentos 
.rooms {
	header {
		width: 100%;
		height: 732px;
		background: url(../img/header-rooms.jpg) no-repeat center center;
		.cover;
	  	.logo-tipo {
	  		position: absolute;
	  		top: 40%;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		margin: 0 auto;
		  		h2 {
			  		font-size: 64px;
					margin: 10px 0;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					color: #FFF;
		 	 	}
		 	 	h3 {
		 	 		font-size: 17px;
					margin: 5px 0;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					color: #FFF;
				}
		 	
	  	}
	  	.look-inside {
	  		position: absolute;
	  		bottom: 70px;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		margin: 0 auto;
	  		a {
	  			color: #FFF;
	  			font-size: @font-m;
	  			text-transform: uppercase;
	  			letter-spacing: 0.3em;
	  			&:after {
					content: url(../img/flecha.png);
					display: block;
					padding-top: 15px;
				}
				&:hover {
					color: #CCC;
				}
	  		}
	  	}
	}
	.wide-img {
		width: 100%;
		background: url(../img/amarrillento.jpg) no-repeat center center;
		.cover;
		height: 405px;
	}
	
	
}

// Amenities 
.amenities {
	header {
		width: 100%;
		height: 732px;
		background: url(../img/header-amenities.jpg) no-repeat center center;
		.cover;
	  	.logo-tipo {
	  		position: absolute;
	  		top: 40%;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		margin: 0 auto;
		  		h2 {
			  		font-size: 64px;
					margin: 10px 0;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					color: #FFF;
		 	 	}
		 	 	h3 {
		 	 		font-size: 17px;
					margin: 5px 0;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					color: #FFF;
				}
	  	}
	  	.look-inside {
	  		position: absolute;
	  		bottom: 70px;
	  		right: 0;
	  		left: 0;
	  		text-align: center;
	  		margin: 0 auto;
	  		a {
	  			color: #FFF;
	  			font-size: @font-m;
	  			text-transform: uppercase;
	  			letter-spacing: 0.3em;
	  			&:after {
					content: url(../img/flecha.png);
					display: block;
					padding-top: 15px;
				}
				&:hover {
					color: #CCC;
				}
	  		}
	  	}
	}
	.text-spot {
		text-align: center;
		padding: 15px 100px;
		h2 {
			font-size: 24px;
			margin: 10px 0;
			letter-spacing: 0.1em;
		}
	}
	.duracion {
		font-size: 14px;
		margin: 8px 0;
	}
	
	
}
