a, a:hover {
	.transition(all 0.4s ease);
}
a:hover {
	text-decoration: none;
	.transition(all 0.4s ease);
}

body {
	.font-special;
}

hr.clear { background: none; border: 0; clear: both; display: block; float: none; font-size: 0; margin: 0; padding: 0; overflow: hidden; visibility: hidden; width: 0; height: 0; }

// cols with no padding

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right: 0;
padding-left: 0;
}
.row {
margin-right: 0;
margin-left: 0;
}

// buttons 
.line-btn {
	border: 1px solid #b9baba;
	color: #000;
	text-transform: uppercase;
	font-size: @font-s;
	letter-spacing: 0.3em;
	text-align: center;
	padding: 15px 32px;
	&:hover {
		border-color: rgba(185, 186, 186, 0.5);
		color: @gris;
	}
}
.white-btn {
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: #FFF;
	&:hover {
		border: 1px solid rgba(255, 255, 255, 0.3);
		color: rgba(255, 255, 255, 0.7);
	}
}


// Common structure
.intro-text {
	text-align: center;
	margin: 80px 0;
	p {
		margin-bottom: 40px;
	}
}

.text-spot {
	text-align: center;
	padding: 80px 100px;
	p {
		margin-bottom: 40px;
	}
}

.text-spot-price {
	text-align: center;
	padding: 80px 100px;
	background: @negro;
	
}

.patio {
	width: 100%;
	background: url(../img/patio.jpg) no-repeat center center;
	.cover;
	height: 405px;
}

.living {
	width: 100%;
	background: url(../img/living.jpg) no-repeat center center;
	.cover;
	height: 405px;
}

.interior-sillon {
	width: 100%;
	background: url(../img/sillon.jpg) no-repeat center center;
	.cover;
	height: 405px;
}

.cama {
	width: 100%;
	background: url(../img/cama.jpg) no-repeat center center;
	.cover;
	height: 405px;
}

.resto {
	width: 100%;
	background: url(../img/resto.jpg) no-repeat center center;
	.cover;
	height: 405px;
}

.pool {
	width: 100%;
	background: url(../img/pool.jpg) no-repeat center center;
	.cover;
	height: 405px;
}
.atmosfera {
	width: 100%;
	background: url(../img/atmosfera.jpg) no-repeat center center;
	.cover;
	height: 405px;
}
.lobby {
	width: 100%;
	background: url(../img/lobby.jpg) no-repeat center center;
	.cover;
	height: 405px;
}
.jardin {
	width: 100%;
	background: url(../img/jardin.jpg) no-repeat center center;
	.cover;
	height: 405px;
}
.bar {
	width: 100%;
	background: url(../img/bar.jpg) no-repeat center center;
	.cover;
	height: 405px;

}


.mostaza {
	background: @mostaza;
	height: 405px;
}

.negro {
	background: @negro;
	height: 405px;
}

hr.white {
		border-top: 1px solid #FFF;
		width: 30px;
		margin: 20px auto;
}
.precio {
	text-align: center;
	.monto {
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin: 0;
	}
	.duracion {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	p {
		text-transform: uppercase;
		font-size: 12px;
		margin: 20px 0 35px;
		line-height: 1.9em;
	}
}

footer {
	background: #FFF;
	text-align: center;
	color: #000;
	padding: 70px 0;
	a.reservations {
		h3 {
			color: #000;
			.font-special;
		}
		.font-normal;
		font-size: 12px;
		color: #000;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: @font-bold;
		&:hover {
			color: #555;
		}
	} 
	hr {
		border-top: 1px solid #000;
		width: 24px;
		margin: 20px auto;
	}
	.social {
		padding: 5px 0 20px 0;
		a {
			padding: 0 10px;
			color: #000;
			font-size: 22px;
			&:hover {
				color: #555;
			}
		}
	}
	.address {
		.font-normal;
		text-transform: uppercase;
		color: #000;
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 0.2em;
	}
	.copyright {
		padding: 15px 0 0 0;
		.font-normal;
		text-transform: uppercase;
		color: #000;
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 0.2em;
		 a {
		 	color: #000;
		 	&:hover {
		 		color: #555;
		 	}
		 }
	}
}








