// font-size
@font-xxs : 8px;
@font-xs : 10px;
@font-s : 12px;
@font-m : 14px;
@font-l : 16px;
@font-xl : 18px;
@font-xxl : 22px;
@font-xxxl : 24px;
@font-xxxxl : 36px;


// font weight
@font-light: 300; 
@font-regular: 400; 
@font-bold: 700; 

// colors
@gris : #b1b1b1;
@mostaza : #dcc76a;
@negro : #171918;